
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item *ngFor="let recipe of order">
            <ion-avatar slot="start">
              <img [src]="recipe.imageUrl" />
            </ion-avatar>
            <ion-label class="ion-padding-start">
              {{recipe.title}}
            </ion-label>
            <ion-note slot="end">{{recipe.quantity}}X
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
