<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <section>
          <h1>hello</h1>
          <ul>
            <li *ngFor="let category of recipesCategories" (click)="actions({
                  type: 'selectCategory', payload: category
              })">{{category.title}}</li>
          </ul>
        </section>
      </ion-col>
      <ion-col>
        <section *ngFor="let category of recipesCategories">
          <h2>{{category.title}}</h2>
          <ul>
            <li *ngFor="let recipe of category.recipes">
              <app-recipe-element [recipe]="recipe" (recipeEvent)="actions($event)"></app-recipe-element>
            </li>
          </ul>
        </section>
        <button (click)="actions({
           type: 'send-order'
            })">Send Order</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
